{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dr. Curtis McGinity | About</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <!-- #check navbar-custom shows header on scroll direction change -->
      <div class="container-fluid">
        <a class="navbar-brand" href="home">Curtis McGinity, PhD</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://crescentcurtis.github.io">Academic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/one-man-alone2.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Curtis McGinity</h1>
              <span class="subheading">
                Scholar. Consultant.
                <!-- <br> -->
                Trainer. Athlete.
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            <a href="#">
                    <img class="img-fluid rounded"
                    src="static/img/tree-edit-color1.jpeg"
                    alt="curtis mcginity"
                    title="Curtis McGinity, PhD" width=200
                    align="left" 
                    hspace="20"/>
            </a>Curtis earned his PhD in Optimization, creating new statistical inference techniques for adaptive machine learning algorithms to be applied in the real-world, in real-time, on humans.
          </p>
          <p>
            His dissertation work focused on <a href="https://crescentcurtis.github.io/ctdviz.html">optimizing clinical trials</a>, challenging how clinicians and regulators balance the tradeoff between information gain and patient safety.
          </p>
          <!-- 
          <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
           -->
          <!-- <p> -->
          <!-- His dissertation work focused on optimizing clinical trials, challenging how clinicians and regulators balance the tradeoff between information gain and patient safety.  --><!--by improving how clinicians balance the tradeoff between information gain and patient safety.-->
          

          <hr class="tiny" style="border-color:#777">

          <p>
            Curtis is now focused on the project of internalizing the optimality of solutions within daily life, building intelligence into systems that augment life in material, and mathematically optimal, ways.
            <br> <br>
            Specifically, Curtis is building a decade's worth of self-experimentation and systems optimization into cutting edge technologies for:
          </p>
          <ul>
            <li>nutrition regimens,</li>
            <li>supplement stacks,</li>
            <li>fitness programming,</li>
            <li>personalized pharmaceuticals.</li>
          </ul>
          <p>
            Curtis writes on a variety topics centered on realizing the frontiers of your best possible lifestyle at <a href="home">The Art of Optimal</a>.<!-- theArtofOptimal.com -->
            You can learn more about his research on the interface of machine learning and statistical inference at his <a href="https://crescentcurtis.github.io">academic website.</a>

          </p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/crescent_curtis">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://linkedin.com/in/curtis-mcginity-60647031">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/curtismcginity">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">&copy; Curtis McGinity 2016</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
