{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dr. Curtis McGinity | About</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <!-- #check navbar-custom shows header on scroll direction change -->
      <div class="container">
        <a class="navbar-brand" href="home">Curtis McGinity, PhD</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="research">Research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="consulting">Consulting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="initiatives">Initiatives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://crescentcurtis.github.io">Academic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>          
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/infoviz/graph-cp.jpg')"> <!-- diss/diffs2_hood-st_3d.pdf')"> -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Crescent Labs</h1>
              <hr id="head-rule">
              <span class="subheading">
                Smart systems:
                Learning while doing.
                <br>
                Optimally.
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <h2>Research Interests</h2>
      <p>
        My research is focused on <b>optimal learning</b>: the intersection of statistical machine learning and sequential decision-making.

        My work intersects the fields of
        <ul>
          <li><a href="https://en.wikipedia.org/wiki/Reinforcement_learning">Reinforcement learning</a>,</li>
          <li><a href="https://en.wikipedia.org/wiki/Bayesian_optimization">Bayesian optimization</a>,</li>
          <li><a href="https://en.wikipedia.org/wiki/Optimal_design">Optimal design of experiments</a>,</li>
          <li><a href="https://en.wikipedia.org/wiki/Dynamic_programming">Approximate dynamic programming</a>,</li>
          <li><a href="https://en.wikipedia.org/wiki/Markov_decision_process">Markov decision processes</a>,</li>
          <li><a href="https://en.wikipedia.org/wiki/Robust_optimization">Robust optimization</a>.</li>
          <!-- <li><a href="https://en.wikipedia.org/wiki/Design_of_experiments#Optimal_designs_for_regression_models">Sequential design of experiments</a>.</li> -->
        </ul>

        <!-- approximate dynamic programming (ADP),-->
        <!--sequential design of experiments,-->
        <!--statistical inference,-->
        <!--information geometry,-->
        <!--information theory, and-->
        <!--risk-sensitive stochastic optimization,-->


        I am interested in designing algorithms for simultaneously optimizing the performance and learning the dynamics of systems shrouded in uncertainty and randomness &mdash; all while mitigating the risk prohibitive for real-world application.<!-- stocasticity --> 
      </p>
      <p>
        <!-- I am especially interested in the dynamical system that is the human body. -->
        I am especially interested in the most familiar dynamical system on the planet: the human body.
        My current research is focused on advancing risk-sensitive optimal learning for clinical trial design and nutrition science.
        I am striving to realize the potential of a more sophisticated scientific method in critical industries. 
      </p>
      <p>
        Mathematically, I am currently interested in the dynamics of Bayesian learning on non-dually flat statistical manifolds <!-- not admitting dually flat connections --> and the relations to coherent risk measures.
        I am also interested in applications of the discrete Hodge theory for learning in large systems.
      </p>

      <hr>

      <!-- Page Heading -->
      <h1 class="my-4">Research Projects &mdash;
        <small>Overview</small>
      </h1>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <!-- #check would prefer slider here, multiple images -->
          <a href="post">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/img/diss/mmdplot.jpg" alt="" width=""> <!-- diffs2_hood-st_3d.jpg" alt=""> -->
          </a>
        </div>
        <div class="col-md-5">
          <div class="post-preview">
            <a href="post">
              <h3>Optimal Learning via Dynamic Risk</h3>
              <p class="post-blurb">
                Should you stick with what works, or try something new and potentially better&mdash;but maybe worse?
                <br>
                How do you navigate the edge between the known and the unknown?
                <br>
                This deep dilemma arises in virtually every context, from medicine to finance, ecommerce to R&amp;D&mdash;to life itself.
              </p>
            </a>
          </div>
          <!-- <a class="btn btn-primary" href="post">View Project</a> -->
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Seven -->
      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/img/diss/spect/case05-EV-temporal-spect-DarkRainbow-cp.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="post-preview">
            <a href="post">
              <h3>Optimal clinical trial design</h3>
              <p class="post-blurb">
                Clinical trials on humans are notoriously fraught with ethical concern, the canonical example of which being early-stage oncology trials for novel chemotherapy drugs:
                <br>Not enough chemo may fail to kill the cancer, yet too much chemo may poison the patient entirely. Further, costly lessons learned with early patients improve treatment for all future patients.
                <br>How, then, do we balance the myriad risks to learn a safe, effective dosage for future patients while ethically treating trial patients?
              </p>
              </a>
          </div>
          <!-- <a class="btn btn-primary" href="#">View Project</a> -->
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Six -->
      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/img/diss/spect/case05-EV-temporal-AUG-DarkRainbow.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="post-preview">
            <a href="post">
              <h3>Pharmacogenomic modeling of cancer cell lines</h3>
              <p class="post-blurb">
                Large-scale testing of a set of candidate drugs across the corpus of cancer cell lines is ostensibly a massively costly and time-consuming endeavor, yet one with potential value. The efficiency of more sophisticated, programmable experimental designs lowers the costs dramatically, thus enabling otherwise cost-ineffective insights to be realized. That is, optimal learning enables practical precision medicine.
              </p>
              </a>
          </div>
          <!-- <a class="btn btn-primary" href="#">View Project</a> -->
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Five -->
      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/img/uber/uber-scratch-4_672-fore-960-rmse_cp.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="post-preview">
            <a href="post">
              <h3>Dynamic price optimization</h3>
              <p class="post-blurb">
                Dynamic pricing came to the masses with the advent of ecommerce, however it didn't go mainstream until recently thanks to Uber's surge pricing.
                Optimal learning models are ideal for dynamically finding the best price in a two-sided market.
                <br>This work proposes a market model and applies optimal learning to Uber data to investigate:
                <br>How can we determine a fair, optimal price?
                <br>How is surge pricing healthy for transportation markets?
              </p>
            </a>
          </div>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/img/ccicada/ACCAMposter0.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="post-preview">
            <a href="post">
              <h3>Aviation modeling &amp; simulation</h3>
              <p class="post-blurb">
                USCG aircraft are essential in Search and Rescue, Homeland Security, Fisheries protection, and various other missions, as well as maintenance, training, business-rules, operating procedures, and stochastic events.
                <br>Modeling these mission demands allows for the abstraction of Air Stations and the simulation of what-if scenarios for which historical data doesn't exist. 
                <br>This framework enabled large-scale scenario-based optimization of the entire USCG aircraft fleet via advanced mixed-integer programming methods. 
              </p>
            </a>
          </div>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/img/ccicada/globalACCAMmodel.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="post-preview">
            <a href="post">
              <h3>ACCAM Global</h3>
              <p class="post-blurb">
                Mixed-integer optimization model over the structured set of scenarios to determine the optimal deployment assignments, operational levels and aircraft allocation across all USCG Air Stations.
                Further, the module enabled investigation of potential efficiencies of proposed infrastructural changes, e.g. standing up deployment center(s).
              </p>
            </a>
          </div>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Four -->
      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="static/img/ccicada/BAMmodule.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <div class="post-preview">
            <a href="post">
              <h3>Optimal Boat Allocation Module II</h3>
              <p class="post-blurb">
                A key innovation is recasting the standard problem in terms of the polytope of annual sharing paths, rather the usual resource allocation model of individual boats.
                The module uses advanced mixed-integer programming to capture a myriad of subtle and complicated mission demands, business rules, and user-defined settings.
                <!-- The BAM module enabled optimization of user-defined objectives, e.g. minimizing the resources used, total budget, etc. -->
              </p>
            </a>
          </div>
          <a class="btn btn-primary" href="#">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>


      <!-- Pagination -->
      

    </div>
    <!-- /.container -->

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/crescent_curtis">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://linkedin.com/in/curtis-mcginity-60647031">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/curtismcginity">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">&copy; Curtis McGinity 2016</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
